{% extends "base.html" %}
{% block title %}
{{ book.title }}
{% endblock %}
{% block content %}

<h1>
    {{ book.title }}
</h1>
<hr>

<p>
    <strong>Author:</strong>
    {{ book.author }}
</p>
<p>
    <strong>Pages:</strong>
    {{ book.pages }}
</p>

<p>
    <strong>Price:</strong>
    ${{ book.price }}
</p>

<p>
    <strong>Published:</strong>
    {{ book.published_date }}
</p>

<h4>
    Categories
</h4>

<ul>

    {% for category in book.categories.all %}

    <li>
        {{ category.name }}
    </li>

    {% empty %}

    <li>
        No categories
    </li>

    {% endfor %}

</ul>

<a href="{% url 'book-list' %}" class="btn btn-secondary">
    Back
</a>
{% if user.is_authenticated %}

{% if perms.books.change_book %}

<a class="btn btn-warning" href="{% url 'book-edit' book.pk %}">

    Edit

</a>

{% endif %}

{% if perms.books.delete_book %}

<a class="btn btn-danger" href="{% url 'book-delete' book.pk %}">

    Delete

</a>

{% endif %}

{% endif %}

{% endblock %}