{% extends "core/base.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}

<h1>Welcome to my website, {{ name }}!</h1>
<img src="{% static 'core/images/profile.jpeg' %}" alt="Profile photo">
<p>This is the home page.</p>

<h2>My Skills</h2>

<ul>
    {% for skill in skills %}
        <li class="skill">{{ skill }}</li>
    {% endfor %}
</ul>
<hr/>
<h2>My Posts</h2>

{% for post in posts %}

    <article>
        <h3>{{ post.title }}</h3>

        <p>{{ post.content }}</p>

        <small>
            {{ post.created_at }}
        </small>
    </article>

{% empty %}

    <p>No posts yet.</p>

{% endfor %}
{% endblock %}