{% extends "base.html" %}

{% block title %}
Products
{% endblock %}

{% block content %}

<h1>Products</h1>

<div style="margin-bottom: 20px;">

    <a href="{% url 'product-create' %}" class="button button-primary">
        + Add Product
    </a>

</div>


{% if products %}

<div class="products">

    {% for product in products %}

    <div class="product-card">

        <h3>
            {{ product.name }}
        </h3>

        <div class="price">
            ${{ product.price }}
        </div>


        <div class="buttons">

            <a href="{% url 'product-detail' product.id %}" class="button button-secondary">
                View
            </a>

            <a href="{% url 'product-update' product.id %}" class="button button-primary">
                Edit
            </a>

            <a href="{% url 'product-delete' product.id %}" class="button button-danger">
                Delete
            </a>

        </div>

    </div>

    {% endfor %}

</div>

{% else %}

<div class="card">

    <p>
        No products available.
    </p>

    <a href="{% url 'product-create' %}" class="button button-primary">
        Create your first product
    </a>

</div>

{% endif %}

{% endblock %}